@charset "UTF-8";
/*-------------------------------ESTILOS AGENDA-------------------------------*/
main .evento {
  margin: 20px 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  row-gap: 40px;
}
main .evento div {
  background-color: gray;
  padding: 5px;
}
main .evento img, main .evento iframe {
  width: 100%;
  height: 100%;
}
main .evento .invitacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 1/3;
}
main .evento .invitacion h3 {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}
main .evento .invitacion h3 a {
  text-decoration: none;
  color: #3C3C3C;
}
main .evento .invitacion h3 a:hover {
  color: black;
}
main .evento .flyer_mini {
  display: none;
}
main .evento .flyer {
  grid-column: 3/5;
}
main .evento .flyer1 {
  grid-row: 1/2;
}
main .evento .flyer2 {
  grid-row: 2/3;
}
main .evento .flyer3 {
  grid-row: 3/4;
}
main .evento .flyer4 {
  grid-row: 4/5;
}
main .evento .flyer5 {
  grid-row: 5/6;
}
main .evento .mapa {
  grid-column: 5/9;
}
@media screen and (max-width: 972px) {
  main .evento .invitacion {
    display: none;
  }
  main .evento .flyer {
    display: none;
  }
  main .evento .flyer_mini {
    display: block;
    grid-column: 1/4;
  }
  main .evento .flyer_mini a img:hover {
    filter: opacity(50%);
  }
  main .evento .mapa {
    grid-column: 4/9;
  }
}
@media screen and (max-width: 559px) {
  main .evento {
    margin: 20px 30px;
    row-gap: 20px;
  }
  main .evento .mapa {
    display: none;
  }
  main .evento .invitacion {
    display: block;
    grid-column: 4/9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main .evento .invitacion h3 {
    font-size: 15px;
  }
  main .evento .flyer_mini {
    display: none;
  }
  main .evento .flyer {
    display: block;
    grid-column: 1/4;
  }
}

/*-------------------------------ESTILOS INICIO-------------------------------*/
main .novedades {
  margin: 20px 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}
main div iframe {
  width: 100%;
  height: 100%;
}
main div #nov1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
main div #nov2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
main div #nov3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
main div #nov4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
main div #nov5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media screen and (max-width: 900px) {
  main .novedades {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
  }
  main .novedades #nov3 {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  main .novedades {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
  }
  main .novedades #nov1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main .novedades #nov2 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  main .novedades #nov4 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  main .novedades #nov5 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}

/*-------------------------------ESTILOS BIOGRAFÍA-------------------------------*/
main .fotos_bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .spotify {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .spotify iframe {
  width: 80%;
  height: 400px;
}
main p {
  font-size: 18px;
  text-align: justify;
  margin: 5mm;
}
main .carrousel_fotos {
  padding: 20px;
  width: 130vh;
  height: auto;
}

/*-------------------------------ESTILOS DISCOGRAFÍA-------------------------------*/
main .discografia {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .discografia img {
  display: inline-block;
  width: 350px;
  height: auto;
}
@media screen and (max-width: 420px) {
  main .discografia img {
    width: 300px;
    height: auto;
  }
}
main .discografia .contratapa_disco1, main .discografia .contratapa_disco2, main .discografia .contratapa_disco3 {
  display: none;
}
main .discografia h2 {
  font-size: 20px;
  text-align: center;
}
main .discografia .single img:hover {
  filter: opacity(75%);
}
main .discografia .disco1:hover .tapa_disco1 {
  display: none;
}
main .discografia .disco1:hover .contratapa_disco1 {
  display: block;
}
main .discografia .disco2:hover .tapa_disco2 {
  display: none;
}
main .discografia .disco2:hover .contratapa_disco2 {
  display: block;
}
main .discografia .disco3:hover .tapa_disco3 {
  display: none;
}
main .discografia .disco3:hover .contratapa_disco3 {
  display: block;
}

/*-------------------------------ESTILOS CONTACTO-------------------------------*/
main .contacto {
  padding: 10px;
  width: 100%;
  height: auto;
}
main .contacto h3 {
  font-size: 20px;
}
main .contacto .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
main .contacto .input {
  width: 500px;
  height: auto;
}
main .contacto .input_msj {
  width: 500px;
  height: 100px;
}
@media screen and (max-width: 559px) {
  main .contacto .input {
    width: 300px;
    height: auto;
  }
  main .contacto .input_msj {
    width: 300px;
    height: 80px;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*-------------------------------RESET ESTILOS-------------------------------*/
* {
  margin: 0%;
  padding: 0%;
}

/*-------------------------------ESTILOS GENERALES-------------------------------*/
body {
  font-family: "PT Serif", serif;
  color: floralwhite;
  background-image: url("../images/background.jpg");
}
body .portada {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}
body .portada img {
  width: 100%;
}
@media screen and (max-width: 559px) {
  body .portada img {
    object-fit: cover;
    height: 100vh;
  }
}
body .portada h1 {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}
body .portada_inicio h1 {
  left: 50%;
}
body .portada_biografia h1 {
  left: 75%;
}
@media screen and (max-width: 559px) {
  body .portada_biografia h1 {
    left: 25%;
  }
}
body .portada_agenda h1 {
  left: 50%;
}
body .portada_discografia h1 {
  left: 25%;
}
body .portada_contacto h1 {
  left: 50%;
}
body h1 {
  padding: 10px 20px;
  font-size: 6vw;
  text-align: center;
}
@media screen and (max-width: 559px) {
  body h1 {
    font-size: 30px;
  }
}
body h2 {
  font-size: 60px;
  text-align: center;
}
body .frase {
  margin: 0px 60px;
  font-family: "Passions Conflict";
  text-align: center;
  font-size: 70px;
}
body .frase_pie {
  font-family: "Passions Conflict";
  text-align: end;
  margin: 0px 40px;
  font-size: 30px;
}
body .logo {
  width: 110px;
  height: auto;
  margin: 10px;
}
@media screen and (max-width: 900px) {
  body h2 {
    font-size: 30px;
  }
  body .frase {
    font-size: 50px;
  }
  body .frase_pie {
    font-size: 20px;
  }
}

main {
  padding-bottom: 20px;
}

/*-------------------------------ESTILOS HEADER-------------------------------*/
header {
  background-color: #3C3C3C;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
header .navbar-nav {
  gap: 5px;
}
header nav div {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  header nav div .logo {
    width: 80px;
    height: auto;
  }
}
header nav ul li .nav-link {
  color: darkgray;
  font-family: "PT Serif", serif;
  font-size: 20px;
}

/*-------------------------------ESTILOS FOOTER-------------------------------*/
footer {
  background-color: #3C3C3C;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}
footer nav {
  width: auto;
  height: 134px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
}
footer nav div {
  justify-self: center;
}
footer nav a {
  text-decoration: none;
  font-family: "PT Serif", serif;
  color: darkgray;
  font-size: 18px;
}
footer .youtube {
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: center;
}
footer .instagram {
  grid-column: 4/7;
  grid-row: 2/3;
  align-self: center;
}
footer .facebook {
  grid-column: 7/10;
  grid-row: 2/3;
  align-self: center;
}
footer .youtube_icon {
  grid-column: 1/4;
  grid-row: 1/2;
  align-self: end;
}
footer .instagram_icon {
  grid-column: 4/7;
  grid-row: 1/2;
  align-self: end;
}
footer .facebook_icon {
  grid-column: 7/10;
  grid-row: 1/2;
  align-self: end;
}
footer .logo_pie {
  grid-column: 10/13;
  grid-row: 1/3;
  align-self: center;
  justify-self: end;
}
footer .icono_footer {
  width: 40px;
  height: 40px;
}
footer .icono_footer:hover {
  padding: 1px;
}
@media screen and (max-width: 559px) {
  footer .instagram {
    display: none;
  }
  footer .youtube {
    display: none;
  }
  footer .facebook {
    display: none;
  }
  footer .logo_pie {
    display: none;
  }
  footer .youtube_icon {
    grid-column: 1/5;
    grid-row: 1/3;
    align-self: center;
  }
  footer .instagram_icon {
    grid-column: 5/9;
    grid-row: 1/3;
    align-self: center;
  }
  footer .facebook_icon {
    grid-column: 9/13;
    grid-row: 1/3;
    align-self: center;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
