/*-------------------------------ESTILOS BIOGRAFÍA-------------------------------*/
main{
    .fotos_bio{
        @include flex(row);
        justify-content: center;
    }
    .spotify{
        @include flex(row);
        justify-content: center;
        iframe{
            @include medidas(80%,400px);
        }
    }
    p{
        font-size: 18px;
        text-align: justify;
        margin: 5mm;
    }
    .carrousel_fotos{
        padding: 20px;
        @include medidas(130vh, auto);
    }    
}
