@import "../utilidades/variables";
@import "../utilidades/mixin";
/*-------------------------------ESTILOS CONTACTO-------------------------------*/
main{
    .contacto{
        padding: 10px;
        @include medidas(100%, auto);
        h3{
            font-size: 20px;
        }
        .formulario{
            @include flex(column);
            align-items: center;
            row-gap: 30px;
        }
        .input{
            @include medidas(500px, auto);
        }
        .input_msj{
            @include medidas(500px, 100px);
        }
        @media screen and (max-width: 559px) {
            .input{
                @include medidas(300px, auto);
            }
            .input_msj{
                @include medidas(300px, 80px);
            }
        } 
    }    
}
