/*-------------------------------RESET ESTILOS-------------------------------*/
*{
    margin: 0%;
    padding: 0%;
    }
/*-------------------------------ESTILOS GENERALES-------------------------------*/
body{
    font-family: $font-principal;
    color: $color-principal-texto;
    background-image: url("../images/background.jpg");
    .portada{
        position: relative;
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;
        img{
            width: 100%; 
        }
        @media screen and (max-width: 559px){
            img{
                object-fit: cover;
                height: 100vh;
            }
        }
        h1{
            position: absolute;
            top: 30%;
            transform: translate(-50%, -50%);
            -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;     
        } 
    } 
    
    .portada_inicio{
        h1{
            left: 50%;
        }        
    }
    .portada_biografia{
        h1{
            left: 75%;
            @media screen and (max-width: 559px){
                left: 25%;
            } 
        }       
    }
    .portada_agenda{
        h1{
            left: 50%;
        }        
    }
    .portada_discografia{
        h1{
            left: 25%;
        }        
    }
    .portada_contacto{
        h1{
            left: 50%;
        }        
    }
    h1{
        padding: 10px 20px;
        font-size: 6vw;
        text-align: center;
        @media screen and (max-width: 559px){
            font-size: 30px;
        } 
    }
    h2{
        font-size: 60px;
        text-align: center;
    }
    .frase{
        margin: 0px 60px;
        font-family: $font-secundario;
        text-align: center;  
        font-size: 70px;
    }
    .frase_pie{
        font-family: $font-secundario;
        text-align: end;
        margin: 0px 40px;
        font-size: 30px;
    }
    .logo{
        @include medidas(110px, auto);
        margin: 10px;
    }
    @media screen and (max-width: 900px){
        h2{
            font-size: 30px;
        }
        .frase{
            font-size: 50px;
        }
        .frase_pie{
            font-size: 20px;
        }  
    } 
}
main{
    padding-bottom: 20px;
}
/*-------------------------------ESTILOS HEADER-------------------------------*/
header{
    background-color: $color-principal;  
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    .navbar-nav{
        gap: 5px;
    }
    nav{
        div{
        margin-left: 10px;
        @media screen and (max-width: 900px){
            .logo{
                @include medidas(80px, auto);
            }
        }
        }
        ul{
            li{
                .nav-link{
                    color:$color-terciario;
                    font-family: $font-principal;
                    font-size: 20px;
                }
            }
        }
    }
}
/*-------------------------------ESTILOS FOOTER-------------------------------*/
footer{
    background-color: $color-principal;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    padding: 20px ;
    nav {
        @include medidas(auto, 134px);
        @include grid(2,1fr,12,1fr,0px);
        div{
            justify-self: center;
        }
        a{
            text-decoration: none;
            font-family: $font-principal;
            color:$color-terciario;
            font-size: 18px;
        }
    }
    .youtube{
        grid-column: 1/4;
        grid-row: 2/3;
        align-self: center;
    }
    .instagram{
        grid-column: 4/7;
        grid-row: 2/3;
        align-self: center;
    }
    .facebook{
        grid-column: 7/10;
        grid-row: 2/3;
        align-self: center;
    }
    .youtube_icon{
        grid-column: 1/4;
        grid-row: 1/2;
        align-self: end;
    }
    .instagram_icon{
        grid-column: 4/7;
        grid-row: 1/2;
        align-self: end;
    }
    .facebook_icon{
        grid-column: 7/10;
        grid-row: 1/2;
        align-self: end;
    }
    .logo_pie{
        grid-column: 10/13;
        grid-row: 1/3;
        align-self: center;
        justify-self: end;
    }
    .icono_footer{
        @include medidas(40px, 40px);
    }
    .icono_footer:hover{
        padding: 1px;
    }
    @media screen and (max-width: 559px){
        .instagram{
            display: none;
        }
        .youtube{
            display: none;
        }
        .facebook{
            display: none;
        }
        .logo_pie{
            display: none;
        }     
        .youtube_icon{
            grid-column: 1/5;
            grid-row: 1/3;
            align-self: center;
        }
        .instagram_icon{
            grid-column: 5/9;
            grid-row: 1/3;
            align-self: center;
        }
        .facebook_icon{
            grid-column: 9/13;
            grid-row: 1/3;
            align-self: center;
        }
    }
}