//----------------------------VARIABLES----------------------------

$color-principal: #3C3C3C;
$color-secundario: gray;
$color-terciario: darkgray;

$color-principal-texto: floralwhite;

$color-border: black;

$font-principal:  "PT Serif", serif;
$font-secundario:  "Passions Conflict";
